@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  /* ── Colors ── */
  --color-red: #c73b0f;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  --color-green: #1ea575;

  /* ── Font family ── */
  --font-sans: "Red Hat Text", sans-serif;

  /* ── Font sizes (presets) ── */
  --text-preset-1: 2.5rem;
  --text-preset-1--line-height: 1.2;
  --text-preset-1--font-weight: 700;

  --text-preset-2: 1.5rem;
  --text-preset-2--line-height: 1.25;
  --text-preset-2--font-weight: 700;

  --text-preset-3: 1rem;
  --text-preset-3--line-height: 1.5;
  --text-preset-3--font-weight: 600;

  --text-preset-4: 0.875rem;
  --text-preset-4--line-height: 1.5;
  --text-preset-4--font-weight: 400;

  --text-preset-4-bold: 0.875rem;
  --text-preset-4-bold--line-height: 1.5;
  --text-preset-4-bold--font-weight: 600;

  /* ── Spacing ── */
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1100: 88px;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-rose-50);
    color: var(--color-rose-900);
  }
}
/* Custom CSS */
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  padding: 1.5rem;
}
/* buttons - + & x */
.img-btn,
.img-btn img {
  transition: all ease-in 0.2s;
}
.img-btn:hover,
.img-btn:focus {
  transform: scale(1.05) translateY(-0.5px);
  box-shadow: 0 2px 4px rgba(122, 26, 26, 0.2);
  background-color: white;
  outline: none;
}
.img-btn:active {
  transform: scale(0.98) translateY(0.5px);
  box-shadow: 0 2px 4px rgba(122, 26, 26, 0.603);
  background-color: white;
}
.img-btn:hover img,
.img-btn:active img,
.img-btn:focus img {
  filter: invert(0.7) sepia(1) saturate(95) hue-rotate(45deg);
}
/* Confirm Order Btn & Start New Order Btn */
.big-btn {
  position: relative;
  overflow: hidden;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
  z-index: 0;
}

/* contenu au-dessus */
.big-btn > * {
  position: relative;
  z-index: 2;
}

/* overlay */
.big-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.15s ease;
  pointer-events: none;
  z-index: 1;
}

/* hover overlay */
.big-btn:hover::after {
  opacity: 0.18;
}

/* effet bouton */
.big-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.12);
}

.big-btn:active {
  transform: translateY(3px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .root {
    padding: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .root {
    padding: 5.5rem 7rem 5.5rem 7rem;
  }
}
